@media only screen and (min-width: 650px) and (max-width: 1024px) { 
    .menu {
        display: flex;
        flex-direction: row;
    } 

    #number, #number2, #number3 {
        width: 15%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: #ffffff;
        font-size: small;
        position: relative;
        top: 30px;
        left: 25px
    }

    #restaurant {
        margin: 50px;
    }

    #restaurant img {
        height: 80%;
    }

    #restaurant figure {
        height: 50%;
    }

    #restaurant figcaption {
        font-size: 30px;
    }

    #restaurant figure:nth-of-type(3) img {
        position: relative;
        bottom: -5px;
    }

    #restaurant figure:nth-of-type(3) figcaption {
        position: relative;
        top: -5px;
    }

    .new {
        margin-left: 30%;
    }


    .enchantedPhoto {
        height: 50%;
    }

    .paletteMenu button {
        margin-left: 20%;
    }

    .paletteMenu h2 {
        font-size: 50px;
    }


    .paletteMenu #enchantedHeader {
        font-size: 50px;
    }

    .paletteFooter {
        margin-top: 165%;
    }

    .enchantedFooter {
        margin-top: 165%;
    }

    .fullFooter {
        margin-top: 165%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 10280px) {

    .headImg {
        width: 50%;
        height: 100px;
    }

    .menuHeader {
        margin-left: 50px;
    }

    img {
        height: 80%;
    }

    #number, #number2, #number3 {
        position: relative;
        top: 30px;
        left: 40px;
    }

    .menu {
        display: flex;
        flex-direction: row;
    } 

    #restaurant {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10%;
        height: 100%;
    }

    #restaurant figure {
        width: 40%;
        height: 40%;
      }

      #restaurant figure:last-child {
          height: 500px;
      }

      #restaurant img {
        height: 80%;
    }

    #restaurant figure:nth-of-type(3) img {
        position: relative;
        bottom: -5px;
    }

    #restaurant figure:nth-of-type(3) figcaption {
        position: relative;
        top: -5px;
    }

    .new {
        margin-left: 20%;
    }

    .restaurantHeading {
        text-align: center;
        margin-top: 100px;
    }

    .header, .header2, .header3 {
        margin-left: 15%;
    }
   
    .entreeMenu, .mainMenu, .dessertMenu {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
   

    .paletteMenu .material-icons {
        margin-right: 25%;
    }

    .paletteMenu button {
        margin-left: 25%;
        margin-bottom: 10%;
    }

    .paletteMenu h2 {
        font-size: 50px;
    }

    .paletteMenu #enchantedHeader {
        font-size: 50px;
    }

    .price {
     
        margin-left: 200px;
    }

    .paletteFooter {
        margin-top: 60%;
        width: 99%
    }

    .enchantedFooter {
        margin-top: 60%;
        width: 99%
    }

    .fullFooter {
        margin-top: 60%;
        width: 99%
    }

    footer {
        width: 99%
    }
}